* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    padding: 15px 10% 15px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.links a {
    font-size: small;
    padding-left: 15px;
}

.first-content{
    display: flex;
    padding: 50px 10% 50px;
    gap: 30px;
    background-color: #1F2937;
    color: white;
}

.first-content-left{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first-content-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.first-content-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0px 15px;
}

.first-content-left btn {
    background-color: #3882F6;
    margin: auto;
    border-radius: 5px;
    padding: 5px 15px 5px;
}

.image-placeholder{
    background-color: gray;
    flex: 1;
    display: absolute;
    text-align: center;
    vertical-align: middle;
}

.second-content{
    display:flex;
    flex-direction: column;
    padding: 30px 15% 30px;
    text-align: center;
}

.second-content .header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.second-content .image-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    padding-top: 20px;
}

.illustration {
    border: solid;
    width: 75%;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 3px;
    aspect-ratio: 1/1;
}